<!DOCTYPE html>
<html>
    <head>
        <title>Ore no Hacker News</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    <body>
        <h1><a href="/orehn">Ore no </a><a class="ycombinator" th:href="${it.originalUrl}" href="http://news.ycombinator.com/">Hacker News</a></h1>
        <div class="content">
            <div th:class="'comment l' + ${comment.level}" th:each="comment : ${it.comments}">
                <div class="detail" th:each="text : ${comment.details}" th:utext="${text}">Comments</div>
            </div>
        </div>
    </body>
</html>